<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ES6 News</title>
</head>
<body>
<section class="page-content" index-page>
    <button id="button">Click to load page</button>
</section>
</body>
</html>