@import "asset/color.pallete";

* {
  box-sizing: border-box;
}

abbr, section, h1, h2, h3 footer, header {
  display: inline-block;
}

html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  align-items: stretch;
}

body {
  align-items: center;
  background-color: #EEEFEA;
}

.page-content {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  background: #F0F0F0;
  box-shadow: 0 0 20px rgba(205, 205, 205, .8);

  & > .title {
    padding-left: 10px;
  }
}
